#placeholder {
  opacity: 0.5;
  font-style: italic;
  color: white !important;
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
}

button {
  font-size: larger;
  font-weight: bolder;
}