/* #placeholder gets deleted upon uploading a project */

#placeholder {
  font-style: italic;
  color: gray
}

/* Used for the FAQ */

#faq details {
  margin: 1em;
  text-align: left;
}

label {
  text-align: center;
}

/* Just a bit bigger */

button {
  font-size: larger;
  font-weight: bolder;
}

/* 
  Styling the results
  The border color is added per-project with JavaScript
*/

article {
  background: darkslategray;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: 0.5em transparent solid;
}

/* According to https: //developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Customizing_the_disclosure_widget */

summary {
  list-style: none;
  text-align: center;
}

summary::-webkit-details-marker {
  display: none;
}

/* Custom arrow */

summary::before {
  content: '🤔';
  border-radius: 1em;
  padding: 0.3em;
  margin-right: 0.3em;
  background: black;
  color: white;
  transition: background 1s, padding 1s, color 1s;
}

details[open]>summary::before {
  color: black;
  content: '↓';
  padding: 0;
  background: transparent
}

/* Better links */

a {
  color: blue;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a {
    color: skyblue
  }
  summary::before {
    color: black;
    background: white
  }
  details[open]>summary::before {
    color: white;
    content: '↓';
    padding: 0;
    background: transparent
  }
}