* {
  font-family: 'sans-serif';
}

body {
  margin-top: 2em;
  background: black;
}

input {
  display: none;
}

label {
  top: 0;
  color: white;
  left: 0;
  user-select: none;
  background: linear-gradient(to right, red, rgb(121, 0, 0));
  text-transform: uppercase;
  letter-spacing: 1em;
  cursor: pointer;
  font-size: 150%;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-align: center;
  /* Rounder corners */
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

footer {
  margin: 1em;
  float: right;
  /* So the text doesn't just move a ton */
  text-align: right;
}

/* I think it looks nicer this way */

summary {
  font-style: italic;
}

/* Make some space */

details {
  color: white;
  margin-bottom: 1em;
}

/* Replaces the arrow at the start of the summaries */

details>summary:first-of-type::before {
  content: '🤔';
  margin: 0.2em;
  font-style: normal;
  margin-right: 0.3em;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 1em;
  padding: 0.2em;
}

details>summary:first-of-type {
  list-style-type: none;
}

/* Make the default margin bearable */

ul {
  margin: 0.2em;
}